#
*.jar
*.class

# maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# maven wrapper
.mvn/

# eclipse
.settings/
.project
.classpath

# intellij idea
*.iml
.idea/
